Package: canaima-rivendell-init
Version: 0.1
Architecture: all
Maintainer: Ernesto Nadir Crespo Avila <ecrespo@cenditel.gob.ve>
Installed-Size: 56
Pre-Depends: canaima-caribay-video, canaima-rivendell
Depends: cdbs
Conflicts: diverts-etc++default++rivendell
Provides: diverts-etc++default++rivendell
Section: config
Priority: extra
Description: Archivo que habilita el demonio de rivendell
 Archivo que habilita el demonio de rivendell.
