Source: canaima-rivendell-init
Section: config
Priority: extra
Maintainer: Ernesto Nadir Crespo Avila <ecrespo@cenditel.gob.ve>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.2.0), config-package-dev (>= 4.5~)
Standards-Version: 3.9.2

Package: canaima-rivendell-init
Architecture: all
Pre-Depends: canaima-caribay-video, canaima-rivendell
Depends: cdbs, ${misc:Depends}
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Archivo que habilita el demonio de rivendell
 Archivo que habilita el demonio de rivendell.
